body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.seat-map {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
}

.scrollable-container {
    max-height: 900px;
    overflow-y: auto;
    padding-right: 10px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.seat-group {
    display: flex;
}

.seat-group-left {
    margin-right: 40px; /* Espaço entre os grupos */
}

.seat {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
}

.premium {
    background-color: lightblue;
}

.economy-premium {
    background-color: orange;
}

.economy {
    background-color: lightgreen;
}

.occupied {
    background-color: gray;
    cursor: not-allowed;
}

.seat:hover {
    opacity: 0.8;
}

/* Estilo dos números de fileira */
.row-number {
    width: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.empty {
    background-color: black;
    border: none;
    pointer-events: none;
}


